Guns.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="guns" type="gunsType"/>
  <xs:complexType name="gunType">
    <xs:sequence>
      <xs:element name="model">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z_]*" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="origin">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]*" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="material">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]*" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="twoHand">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="false"/>
            <xs:enumeration value="true"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="performanceCharacteristicsType" name="performanceCharacteristics"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="gunsType">
    <xs:sequence>
      <xs:element type="gunType" name="gun" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="performanceCharacteristicsType">
    <xs:sequence>
      <xs:element name="fireRange">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="500"/>
            <xs:enumeration value="800"/>
            <xs:enumeration value="1000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="accuracyRange">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="100"/>
            <xs:enumeration value="500"/>
            <xs:enumeration value="300"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="magazineCharger">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="false"/>
            <xs:enumeration value="true"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="opticalSight">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="false"/>
            <xs:enumeration value="true"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>