Guns.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="guns" type="gunsType"/>
  <xs:complexType name="gunType">
    <xs:sequence>
      <xs:element name="model">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z_]*" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="origin">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]*" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="material">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]*" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="twoHand">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(true|false)" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="performanceCharacteristicsType" name="performanceCharacteristics"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="ID" use="required"/>
  </xs:complexType>
  <xs:complexType name="fireRangeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="measure" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="accuracyRangeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="measure" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="gunsType">
    <xs:sequence>
      <xs:element type="gunType" name="gun" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="performanceCharacteristicsType">
    <xs:sequence>
      <xs:element type="fireRangeType" name="fireRange"/>
      <xs:element type="accuracyRangeType" name="accuracyRange"/>
      <xs:element name="magazineCharger">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(true|false)" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="opticalSight">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(true|false)" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>